{% extends 'base.html' %}

{% block title %}
Редактирование статьи
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Редактирование статьи</h1>
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        {% if errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="form-floating">
            <input type="text" name="title" id="title" class="form-control" placeholder="Название статьи" value="{{ article.title }}"><br>
            <label for="title">Название статьи</label>
        </div>
        <div class="form-floating">
            <textarea name="intro" id="intro" class="form-control" placeholder="Короткое описание">{{ article.intro }}</textarea><br>
            <label for="intro">Короткое описание</label>
        </div>
        <div class="form-floating">
            <textarea name="text" id="text" class="form-control" placeholder="Основной текст">{{ article.text }}</textarea><br>
            <label for="text">Основной текст</label>
        </div>
            <input type="submit" class="btn btn-success" value="Обновить">
    </form>
</div>
{% endblock %}
